    <h1>About Us</h1>
    <p>
      <a href="#">ScribeLix</a>
      is a project to make a note taking website using <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
      is the base application.
    </p>